main>.container {
    padding: 60px 15px 0;
    margin-bottom: 5rem;
}

.sticky-footer {
    position: sticky;
    left: 0;
    bottom: 0;
    width: 100%;
}

:root {
    --primary: rgb(11, 25, 149);
    --secondary: rgb(33, 144, 222);
    --dark-color: rgb(66, 64, 64);
    --white-color: rgb(236, 233, 233);
}

body {

    font-family: 'Poppins', sans-serif;
    background-color:rgb(57, 61, 66);
    color: #FFFFFF80;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: larger;
}

.nav {
    background-color: var(--dark-color);
}

footer {
    background-color: var(--dark-color);
    padding-left: rem;
    padding-right: .2rem;
}

footer .social>a {
    color: var(--white-color);
    opacity: 0.75;
}

footer .social>a:hover {
    opacity: 0.9;
    color: var(--primary);
}

h1, h2, h3, h4, h5, h6 {
    font-weight:600;
    font-family: 'Poppins', sans-serif;
    color: var(--primary);
}

.bsicon {
    color: purple;
}

.jsicon {
    color: rgb(226, 211, 4);
}

.cssicon {
    color: var(--secondary);
}

.htmlicon {
    color: orangered;
}

.btn {
    background-color: var(--secondary);
}

.checklist >li {
    color: var(--primary);
}

.logofont {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    font-style: italic;
}

code[class*="language-"],
pre[class*="language-"] {
white-space: pre-wrap;
word-break: break-all;
word-wrap: break-word;
}